<div class="button-row">
    <button class="scroll-btn" (click)="addMember()"><ion-icon name="person-add-sharp"></ion-icon>Become a Member</button>
    <button class="scroll-btn" (click)="consult()"><ion-icon name="people-sharp"></ion-icon>Consult</button>
    <button class="scroll-btn" (click)="complaint()"><ion-icon name="alert-circle"></ion-icon>Raise a Complaint</button>
    <button class="scroll-btn" (click)="donations()"><ion-icon name="trending-up-sharp"></ion-icon>Regular Donations</button>
    <button class="scroll-btn" (click)="reliefFund()"><ion-icon name="cash-sharp"></ion-icon>Relief Fund</button>
    <button class="scroll-btn" (click)="specialFund()"><ion-icon name="heart-circle-sharp"></ion-icon>Special Fund</button>
 
   </div>