// .signup-logo {
//   padding: 20px 0;
//   min-height: 200px;
//   text-align: center;
// }

// .signup-logo img {
//   max-width: 150px;
// }

.list {
  margin-bottom: 0;
}
.Referral{
  background: #F8F8F8;
  border-radius: 5px;
  margin-left: 35px;
  width: 182px;
height: 38px;
}
.Referral .item-interactive {
  --highlight-background:white !important;
}

.submit{
margin-top: 30px;
text-transform: none;
background: #FF8015;

}
::ng-deep .native-input{
  margin-left: -8px;
}
.newUser p{
  margin: auto;
  margin-top: 35px;
}

.background{
  height: 510px !important;
}
