
<ion-content class="container">
  <img src="../../../assets/img/vector-png/background.png"t style="width: 100%;"  alt="">
  <span (click)="goBack()"><ion-icon class="backButton"  name="chevron-back-outline"></ion-icon></span>

  <div class="heading">
    <h4>शिव तांडव सेना</h4>
    <img src="../../../assets/img/vector-png/flag.png" alt="flag">
    <p>सकल हिंदू समाज , एक समाज </p>
    <p>धर्मो रक्षति रक्षितः</p>

  </div>

<div class="background">
  <h3>Forgot Password</h3>

  <form #loginForm="ngForm" class="form-layout" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">E-mail Id / Mobile No.</ion-label>
        <ion-input  name="password" type="password" placeholder="Enter your Mobile No."  required>
          <ion-icon name="call-outline"></ion-icon>
        </ion-input>
      </ion-item>

    <ion-item lines="none" style="display:flex;color: #FB9145;margin-top: 20px;width:360px;">

      <ion-label style="font-size: 12px;" color="primary">Referral Code:</ion-label>
      <ion-input label="Outline input" class="Referral" ></ion-input>
    </ion-item>

    <app-get-otp></app-get-otp>

      <ion-item style="margin-top:10px;">
        <ion-label position="stacked" color="primary">New Password</ion-label>
        <ion-input #otp6 name="password" type="password" placeholder="Enter your Password"  required>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item style="margin-top:10px;">
        <ion-label position="stacked" color="primary">Confirm Password</ion-label>
        <ion-input  name="password" type="password" placeholder="Enter your Confirmed Password"  required>
          <ion-icon name="lock-open-outline"></ion-icon>
        </ion-input>
      </ion-item>

    </ion-list>
      <ion-button  type="submit" class="submit" expand="block">Submit</ion-button>

  </form>
  <ion-row class="newUser">
    <p style="color:black;">Already have account ? <span style="color:#FF8015" (click)="signIn()">Sign in</span></p>

  </ion-row>
</div>
</ion-content>
