
<ion-content class="container">
 <span (click)="goBack()"><ion-icon class="backButton"  name="chevron-back-outline"></ion-icon></span>
  <div class="heading">
    <h4>शिव तांडव सेना</h4>
    <img src="../../../assets/img/vector-png/flag.png" alt="flag">
    <p>सकल हिंदू समाज , एक समाज </p>
    <p>धर्मो रक्षति रक्षितः</p>

  </div>

<div class="background">
  <h3>Change Password</h3>

  <form #loginForm="ngForm" class="form-layout" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Old Password</ion-label>
        <ion-input  name="password" type="password" placeholder="Enter your Old Password"  required>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item style="margin-top:10px;">
        <ion-label position="stacked" color="primary">New Password</ion-label>
        <ion-input  name="password" type="password" placeholder="Enter your Password"  required>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item style="margin-top:10px;">
        <ion-label position="stacked" color="primary">Confirm Password</ion-label>
        <ion-input  name="password" type="password" placeholder="Enter your Confirmed Password"  required>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

    </ion-list>

  </form>
  <ion-button style="margin: 30px 0px 30px 0px;"  type="submit" class="submit" expand="block">Submit</ion-button>
</div>
</ion-content>
