.optButton{
    color: #FFFFFF;
    text-transform: none;
    font-size: 12px;
    line-height: 18px;
    width: 80px;
    height: 34px;
    
    --border-radius: 20px !important;
  }

  /* .optButton{
    color: #FFFFFF;
    text-transform: none;
    font-size: 12px;
  line-height: 18px;
  } */
  /* .otpBox{
    background: #F8F8F8;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-right: 8px;
    border-bottom: 2px solid #FF8015;
  } */
  .otpBox{
    background: #F8F8F8;
    width: 29px;
    height: 29px;
    border-radius: 3px;
    margin: auto 10px auto auto;
    border-bottom: 2px solid #FF8015;
  }
  