.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}
.login-logo img {
  max-width: 150px;
}
.list {
  margin-bottom: 0;
}

.info :nth-child(1) {
  float: left;
  font-size: 13px;
}
.info :nth-child(2) {
  float: right;
  font-size: 13px;
}
.social-networks {
  margin: auto;
  margin-top: 30px;
  width: 215px;
}

h3 {
  font-size: 16;
  font-weight: 600 !important;
}
.social-icons{
  padding: 10px;
  box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2),
    0px 2px 4px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(255, 255, 255, 0.05) inset;
  border-radius: 8px;
  margin-right: 7px;
}
.newUser p{
  margin: auto;
  margin-top: 50px;
}
.b::before
{
  content: "";
  width: 100%;
    border: 0;
    position: absolute;

}

