ion-menu ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --background:#FFFAF7 !important;
}

/* Remove background transitions for switching themes */
ion-menu ion-item {
  --transition: none;
  --background:#FFFAF7
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

/*
 * Material Design Menu
*/
ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-list-header {
  padding-left: 18px;
  padding-right: 18px;

  
  
  font-weight: 450;
}

ion-menu.md ion-item {
  --padding-start: 18px;

  margin-right: 10px;

  border-radius: 0 50px 50px 0;

  font-weight: 500;
}

ion-menu.md ion-item.selected {
 --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-list-header,
ion-menu.md ion-item ion-icon {
  color: var(--ion-color-step-650, #5f6368);
}

ion-menu.md ion-list:not(:last-of-type) {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}


ion-menu.ios ion-list-header {
  padding-left: 16px;
  padding-right: 16px;

  margin-bottom: 8px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item ion-icon {
  
  color: #73849a;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

.header-logo
{
  width: 30%;
  margin-left: 0%;

}
::ng-deep .list-md {
  background-color: none I !important;
}
ion-icon{
  color: black I !important;
}
 ion-tab-bar{
background: #FFFFFF !important;
--border: none !important;
box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.09) !important;
}
.logout{
  text-transform: none;
    --border-radius: 12px !important;
    font-weight: 700;
    font-size: 14px;
    width: 113px;
    height: 36px;
    color: #FFFFFF;
    position: relative;
    top: 20px;
    left: 17px;
    line-height: 21px;
    --background: linear-gradient(180deg, #4CDC19 0%, #2A9C01 100%);
}