<app-header headerName="Donation"></app-header>

<ion-content>
  <img src="../../../assets/img/vector-png/background.png" style="width: 100%;"  alt="">

  <div class="background">
    <app-slider></app-slider>
  <ion-card>
    <img src="../../../assets/img/vector-png/donation_img.png" alt="">
    <ion-card-header>
       <div style="display: flex;">
        <ion-card-title>Lorem Ipsum </ion-card-title>
      
        <app-button btnName="Donation" style="margin: -12px 0px 0px 50px;" (onClick)="Donation()"></app-button>
     
       </div>
      
    </ion-card-header>
    <ion-card-content>
      <p style="font-size: 12px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      </p>
      <div style="display: flex;align-items:end;">
        <p style="font-weight: 500;font-size: 17px;color: #FB8638;width: 215px;margin-top: 14px;">Valid till 30April23</p>
        <div class="likes-comments">
          <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
          <ion-icon name="heart-sharp"></ion-icon>
          <ion-icon name="share-social-sharp"></ion-icon>
        </div>
      </div>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../../assets/img/vector-png/donation_img.png" alt="">
    <ion-card-header>
       <div style="display: flex;">
        <ion-card-title>Lorem Ipsum </ion-card-title>
      
        <app-button btnName="Donation" style="margin: -12px 0px 0px 50px;" (onClick)="Donation()"></app-button>
     
       </div>
      
    </ion-card-header>
    <ion-card-content>
      <p style="font-size: 12px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      </p>
      <div style="display: flex;align-items:end;">
        <p style="font-weight: 500;font-size: 17px;color: #FB8638;width: 215px;margin-top: 14px;">Valid till 30April23</p>
        <div class="likes-comments">
          <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
          <ion-icon name="heart-sharp"></ion-icon>
          <ion-icon name="share-social-sharp"></ion-icon>
        </div>
      </div>
      
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
