<div style="margin-top:20px;display: flex;justify-content: center;">
  <img src="../../../../assets/img/vector-png/membership.png" alt="">
</div>


<p style="font-weight: 600;color: #000000;font-size: 15px;margin-left: 15px;">Benefits</p>
<ul type="none" >
 <li><ion-icon name="checkmark-circle-outline"></ion-icon>Lorem ipsum dolor sit amet</li>
 <li><ion-icon name="checkmark-circle-outline"></ion-icon>consectetur adipiscing elit</li>
 <li><ion-icon name="checkmark-circle-outline"></ion-icon>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
 <li><ion-icon name="checkmark-circle-outline"></ion-icon>Ut enim ad minim veniam, quis nostrud exercitation</li>
 <li><ion-icon name="checkmark-circle-outline"></ion-icon>enim ad minim veniam, quis nostrud exercitation exercitation</li>
</ul>

<div class="membership-fees">
<span>Membership Fees:&nbsp;</span>
<span style="color: #3DAF03;">₹ 200</span>
</div>


