
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title >शिव तांडव सेना</ion-title>
</ion-buttons>

<ion-content class="container">
  <img src="../../../assets/img/vector-png/background.png" style="width: 100%;"  alt="">
<div class="background">
  <h3> Sign up </h3>
  <h5>Let us know about yourself</h5>
  <form #loginForm="ngForm" class="form-layout" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary" >Name</ion-label>

        <ion-input   name="username" type="text" placeholder="Enter your Name "  spellcheck="false" autocapitalize="off"
          required>
          <ion-icon name="mail-open-outline"></ion-icon>
        </ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary" >Last Name</ion-label>

        <ion-input   name="username" type="text" placeholder="Enter your Last Name  "  spellcheck="false" autocapitalize="off"
          required>
          <ion-icon name="mail-open-outline"></ion-icon>
        </ion-input>

      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary"> E-mail Id </ion-label>
        <ion-input  name="email" type="password" placeholder="Enter your Mail Id "  required>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input  name="password" type="password" placeholder="Enter your Password"  required>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" color="primary"> Confirm Password </ion-label>
        <ion-input  name="password" type="password" placeholder="Enter your Confirmed Password"  required>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <div class="info">
        <p>Login with OTP</p>
        <p>forget password</p>
      </div>
      <ion-item lines="none" style="display:flex;color: #FB9145;margin:7px 0px 10px 0px;width:370px;">

        <ion-label style="font-size: 12px;" color="primary">Referral Code:</ion-label>
        <ion-input label="Outline input" class="Referral" ></ion-input>
      </ion-item>

    </ion-list>

  </form>
  <ion-button  type="submit" class="submit" expand="block">Submit</ion-button>
  <ion-row class="newUser">
    <p style="color: #303030;">Already have account ? <span (click)="signIn()" style="color:#FF8015">Sign in</span></p>
  </ion-row>
</div>

</ion-content>
