
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-title >शिव तांडव सेना</ion-title>
  <div class="icon-size"style="display:flex;padding-right: 10px;">
    <ion-icon style="padding-right: 20px;" name="search"></ion-icon>
    <ion-icon name="notifications"></ion-icon>
  </div>

</ion-buttons>

<ion-content class="container">
  <img src="../../../assets/img/vector-png/background.png" style="width: 100%;"  alt="">
<div class="background">
  <div class="button-row">
   <button class="scroll-btn"><ion-icon name="person-add-sharp"></ion-icon>Become a Member</button>
   <button class="scroll-btn"><ion-icon name="people-sharp"></ion-icon>Consult</button>
   <button class="scroll-btn"><ion-icon name="alert-circle"></ion-icon>Raise a Complaint</button>
   <button class="scroll-btn"><ion-icon name="trending-up-sharp"></ion-icon>Regular Donations</button>
   <button class="scroll-btn"><ion-icon name="cash-sharp"></ion-icon>Relief Fund</button>
   <button class="scroll-btn"><ion-icon name="heart-circle-sharp"></ion-icon>Special Fund</button>

  </div>
  <div style="margin-top: 20px;">
    <img src="../../../assets/img/vector-png/children day.png" alt="">
  </div>
  <div class="members-info">
    <div class="center-items">
      <div></div>
      <span >20</span>
      <p>Visitors</p>
    </div>
    <div class="center-items">
      <div></div>
      <span><ion-icon class="icon-size color"  name="people-outline"></ion-icon></span>
      <p>Volunteers</p>
    </div>
    <div class="center-items">
      <div></div>
      <span><ion-icon class="icon-size color"  name="volume-medium-outline"></ion-icon></span>
      <p>Campaign</p>
    </div>
    <div class="center-items">
      <div></div>
      <span><ion-icon class="icon-size color" name="cash-outline"></ion-icon></span>
      <p>Monthly Income</p>
    </div>
  </div>



</div>
<ion-slides pager="true" [options]="slideOpts">

  <ion-slide>
    <ion-card>
      <img src="../../../assets/img/vector-png/campaning.png" alt="">
      <ion-card-header>

        <ion-card-title>Card Title</ion-card-title>
        <div class="likes-comments">
          <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
          <ion-icon name="heart-sharp"></ion-icon>
          <ion-icon name="share-social-sharp"></ion-icon>
        </div>

      </ion-card-header>
      <ion-card-content style="display: flex;">

        <p style="font-size: 12px;">Here's a small text description for the card content. Nothing more, nothing less.</p>
        <p style="font-weight: 500;font-size: 8px;color: #FB8638;width: 215px;margin-top: 14px;">5 Comments, 100 Likes</p>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <img src="../../../assets/img/vector-png/campaning.png" alt="">
      <ion-card-header>

        <ion-card-title>Card Title</ion-card-title>
        <div class="likes-comments">
          <ion-icon name="chatbox-ellipses-sharp"></ion-icon>
          <ion-icon name="heart-sharp"></ion-icon>
          <ion-icon name="share-social-sharp"></ion-icon>
        </div>

      </ion-card-header>
      <ion-card-content style="display: flex;">

        <p style="font-size: 12px;">Here's a small text description for the card content. Nothing more, nothing less.</p>
        <p style="font-weight: 500;font-size: 8px;color: #FB8638;width: 215px;margin-top: 14px;">5 Comments, 100 Likes</p>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <img src="../../../assets/img/vector-png/donation.png" width="22px" style="margin-top: -12px;" alt="">
    <span style="position: absolute;top: 35px;font-size:  9.51848px;font-weight: 700;">Donate</span>
  </ion-fab-button>

</ion-fab>

</ion-content>
