<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-sharp"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="event">
      <ion-icon name="volume-medium-sharp"></ion-icon>
      Event
    </ion-tab-button>
    <ion-tab-button tab="add">

        <ion-icon style="position: absolute;top: -5px;font-size: 60px;color: #FB8032;" name="add-circle-sharp"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="job">
      <ion-icon name="bag-sharp"></ion-icon>
     Job
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="help-circle-sharp"></ion-icon>
     Help
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>