

  <div class="kyc">
    <span>100%</span>
  </div>
  <div class="card">
    <ion-item style="--background: #fffafa;">
      <ion-label position="stacked" color="primary" >Mobile No</ion-label>
      <p>Verify</p>
      <ion-input  formControlName="email" name="email" type="text" placeholder="Enter your Mobile No"  spellcheck="false" autocapitalize="off"
        >
        <ion-icon name="call-sharp"></ion-icon>
      </ion-input>
  
    </ion-item>
    <app-get-otp></app-get-otp>
  </div>

  <div class="card">
    <ion-item style="--background: #fffafa;">
      <ion-label position="stacked" color="primary" >Email Id</ion-label>
      <p>Verify</p>
      <ion-input  formControlName="email" name="email" type="text" placeholder="Enter your Email Name  "  spellcheck="false" autocapitalize="off"
        >
        <ion-icon name="mail-open-outline"></ion-icon>
      </ion-input>
  
    </ion-item>
    <app-get-otp></app-get-otp>
  </div>
  
  



